<div class="subh">List of translations</div>
<div class="translations">
 <div class="source_word"><%= @word.value %></div>
 <% @word.equivalences.each do |eq| %>
 <div class="translation">
  <div class="target_word"><%= link_to "&#8661;".html_safe, {:action => "vote", :controller => "equivalences", :id => eq.id}, :class => "vote", :id => ("eq" + eq.id.to_s), :remote => true %>&ensp;<%= eq.target_word.value %></div>
  <div class="top-explanation">
   <% if (ex = eq.explanations.max_by {|ex| ex.upvotes - ex.downvotes }).nil? %>
   <div class="add_"><%= link_to "Add explanation", new_explanation_path(:equivalence_id => eq.id) %></div>
   <% else %>
   <% unless ex.body.empty? %><div><%= ex.body %></div><% end %>
   <% unless ex.example.empty? %><div>Example: <%= link_to ex.example, ex.example %></div><% end %>
   <div class="add_"><%= link_to ("See explanations (" + eq.explanations.length.to_s + ")"), equivalence_path(eq) %></div>
   <% end %>
  </div>
 </div>
 <% end %>
 <div class="add_"><%= link_to "Add a translation", new_equivalence_path(:word_id => params[:id]) %></div>
 <hr />
 <div class="foot">
  <% unless @word.suggestions.empty? %>
  <div>See also:</div>
  <% end %>
  <% @word.suggestions.map {|x| x.relation }.sort_by {|rl| rl }.uniq.each do |rl| %>
  <div><%= rl %></div>
  <% @word.suggestions.select {|sg| sg.relation == rl }.sort_by {|sg| sg.downvotes - sg.upvotes }.each do |sg| %>
  <div>
   <div><%= link_to "&#8661;".html_safe, {:action => "vote", :controller => "suggestions", :id => sg.id}, :class => "vote", :id => ("sg" + sg.id.to_s), :remote => true %>&ensp;<%= link_to sg.suggested_word.value, word_path(sg.suggested_word) %></div>
  </div>
  <% end %>
  <% end %>
 </div>
 <div class="add_"><%= link_to "Add a suggestion", new_suggestion_path(:word_id => params[:id]) %></div>
</div>
<%= link_to "Back", root_path %>
